<mat-toolbar>
  <h1>{{ title }}</h1>
  <span class="separator"></span>
  <mat-icon (click)="toggleSpeaker()">{{ isSpeakerOn() ? 'volume_up' : 'volume_off' }}</mat-icon>
</mat-toolbar>

<main>
  <div class="chat-container">
    @for (content of contents; let i = $index; track i) {
    <div class="chat-message {{ content.agent }}">
      <img
        class="avatar"
        [src]="'avatar-' + content.agent + '.png'"
        [alt]="content.agent + 'icon'"
      />
      <div class="message-details">
        <markdown
          class="message-content"
          [class.loading]="content.loading"
          [data]="content.message | lineBreak"
        />
      </div>
    </div>
    } @empty {
    <div class="message-container">
      <p class="message">
        Welcome to your Gemini ChatBot App <br />
        Write a text to start.
      </p>
    </div>
    }
  </div>
  
  <div class="chat-footer-container">
    <mat-form-field class="chat-input">
      <input
        matInput
        disabled
        placeholder="Record a message"
        [value]="message()"
        (keyup.enter)="sendMessage()"
      />
    </mat-form-field>
    @if (this.isRecording()) {
      <button mat-icon-button (click)="stopRecording()">
        <mat-icon>mic</mat-icon>
      </button>
    } @else {
      <button mat-icon-button (click)="startRecording()">
        <mat-icon>mic_off</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      color="accent"
      [disabled]="!message"
      (click)="sendMessage()"
    >
      <mat-icon color="accent">send</mat-icon>
    </button>
  </div>
</main>